recursive-include dunderlab/ *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-exclude examples/ *
recursive-exclude test/ *
recursive-exclude notebooks/ *
recursive-exclude docs/ *
